@model IEnumerable<ImovelWEB.Models.Imovel>

@{
    ViewData["Title"] = "Início";
}

<h4>Relação de imóveis</h4>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Novo Imóvel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Descricao)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Cep)
            </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.Rua)
            </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.Numero)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.Complemento)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.Referencia)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.Descricao)
            </td>*@
                <td>
                    @{
                        var precoString = item.Preco.ToString("C");
                        <Text>@precoString</Text>
                    }
                </td>
                @* <td>
            @{
            var cepString = Convert.ToUInt64(item.Cep).ToString(@"00000\-000");
            <Text>@cepString</Text>
            }
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Rua)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Numero)
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.Bairro)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.Complemento)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.Referencia)
            </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> -
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> -
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
